*

!*/

!*.cpp
!*.py
!*.java
!*.txt
!*.md
!*.png
!*.pdf
!*.jpeg
!*.jpg
!*.html
!*.tex
!.clang-format
!*.csv
!*.ipynb

@#$%^&*().cpp
tmp.cpp
tempCodeRunnerFile.*
学校/信息技术/2021第一学期寒假作业/out.txt
temp.cpp

学校/信息技术/出题/testlib/
